.main-head{
    font-size: 30px;
    font-weight: 700px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color: rgb(239, 161, 6);
}
nav > ul{
    display: flex;
    align-items: center;
}
   
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.714);
}
.btn-primary{
    border-radius: 2px;
    color:rgb(232, 229, 223); ;
    background-color: rgb(239, 161, 6);;
    font-size: 20px;
    font-weight: 700px;
    border: 0;
    padding: 15px 30px;
}
.header{
    background-color: rgba(244, 227, 173, 0.268);
    background-image: url('../header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
nav{
    margin:0 200px;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.banner.profile-picture{
    width: 500px;
    
}
.banner-content{
    max-width: 500px;
}
.banner-welcome{
    /* width: 600px; */
    font-size: 45px;
    margin-bottom: 0px;
}
.banner-title{
    font-size: 80px;
    width: 700px;
    margin-top: 5px;
}
.banner-desciption{
    padding-bottom: 20px;
    /* padding-top: 20px; */
}
.section-title{
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700px;
}
.about{
    margin: 230px 0;
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px;
}
.section-description{
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    
}
main{
    max-width: 1140px;
    margin: 0 auto;
    height: 550px;
    
}
.about-info-container{
    display: flex;
    justify-content: space-around;

}
/* .info-title{
    text-align: center;
} */
.about-info{
    text-align: center;
}